includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app/
    ignoreErrors:
        - identifier: trait.unused
        -
            message: '#Unable to resolve the template type T(Key|Value) in call to function collect#'
        -
            identifier: return.type
            paths:
                - app/Filament/Resources/
        -
            identifier: method.notFound
            reportUnmatched: false
            paths:
                - tests/Feature/Policies/StandardPolicyTest.php
                - tests/Feature/Policies/ReadOnlyPolicyTest.php
